nav.navigation

    ul.navigation__list
        li.navigation__list__item
            a.navigation__list__item__link(href='') Home

    ul.navigation__list
        li.navigation__list__item
            a.navigation__list__item__link(href='/about') About